

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 54, 150);
    font-family: Arial, sans-serif;
    
}

.box {
    background-color: gray;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.txt {
    color: white;
    padding: 10px 25px;
}

.txt h1 {
    margin-bottom: 10px;
}

.txt h3 {
    margin-bottom: 10px;
   
}

.txt p {
    margin-top: 5px;
    font-size: 14px;
}
button{
    background-color: brown;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    background-color: rgb(0, 52, 97);
}
